@anchor: 256px;

body {
  background: #000000;
  text-align: center;
}

.banner-player {
  width: @anchor;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (max-width: (@anchor + 5)) {

  .banner-player, .videoPlayer {
    width: 100% !important;
  }

}